main {
  padding: 0.5rem 1rem 0.5rem 0.9rem;
}

main .section-message {
  margin: 1rem 0;
  color: #000A;
  font-weight: bold;
}

main .comment {
  display: block;
  position: relative;
  padding: 0 1rem 1rem 0.9rem;
  border-left: 0.2rem dotted #0005;
}

main .comment::before {
  position: absolute;
  height: 1.5rem;
  width: 1rem;
  padding: 0.25rem 0;
  left: -0.6rem;
  background: #FFF;
}

main .reply.comment::before {
  position: absolute;
  height: 1.5rem;
  width: 1rem;
  padding: 0.25rem 0;
  left: -0.4rem;
  background: #FFF;
}

main .comment.agree::before {
  content: "👍";
}
main .comment.disagree::before {
  content: "👎";
}
main .comment.neutral::before {
  content: "✋";
}

main .reply.comment {
  padding: 0 1rem 0 1.1rem;
  border-left: none;
}
main .replies .comment {
  padding: 0 1rem 0 1.1rem;
  border-left: none;
}
main .replies .comment::before {
  left: -0.4rem;
}

main .comment h2 {
  font-weight: bold;
  line-height: 1.5rem;
}

main .comment h2 a:hover {
  text-decoration: underline;
}

main .comment p {
  line-height: 2rem;
}

main form.new-comment-form input[type="text"] {
  width: 100%;
  line-height: 1.5rem;
  font-weight: bold;
}
main form.new-comment-form textarea {
  width: 100%;
  line-height: 2rem;
}

main form.new-comment-form .position {
  padding: 0.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main form.new-comment-form input[type="radio"].new-comment-form-position {
  appearance: auto;
}

main form.new-comment-form button.new-comment-form-submit-button {
  margin: 0.5rem 0 0;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid #0004;
  cursor: pointer;
}
