body {
  color: #000C;
}

main .section-message {
  padding: 0 1rem;
  color: #000A;
  font-weight: bold;
}

main .comment {
  display: block;
  position: relative;
  padding: 0.75rem 0;
}

main .comment .title {
  margin-left: 2rem;
  margin-right: 0.5rem;
}

main .comment .body {
  margin-left: 2rem;
  margin-right: 0.5rem;
}

main .comment .thread {
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  height: calc(100% - 2rem);
  width: 2px;
  background: #0008;
}

main .comment-tree a.comment:hover, main .replies a.comment:hover {
  background: #0001;
}

main .comment-tree div.comment {
  padding-bottom: 1rem;
}

main .comment-tree div.comment .body {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

main .comment-tree div.comment .created-at {
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
  color: #000A;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

main .comment::before {
  position: absolute;
  height: 1.5rem;
  width: 1rem;
  padding: 0.25rem 0;
  left: 0.5rem;
}

main .comment.agree::before {
  content: "👍";
}
main .comment.disagree::before {
  content: "👎";
}
main .comment.neutral::before {
  content: "✋";
}

main .comment h2 {
  font-weight: bold;
  line-height: 1.5rem;
}

main .comment h2 a:hover {
  text-decoration: underline;
}

main .comment p {
  line-height: 2rem;
}

main .position-buttons {
  margin-top: 1rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .position-buttons button {
  padding: 0.5rem 1rem;
  border: 2px solid #000C;
  border-radius: 1rem;
  cursor: pointer;
}

main .position-buttons button.agree:hover {
  background: #e3f2fd;
  border-color: #2196f3;
}
main .position-buttons button.disagree:hover {
  background: #ffebee;
  border-color: #f44336;
}
main .position-buttons button.neutral:hover {
  background: #eceff1;
  border-color: #607d8b;
}

main form.new-comment-form input[type="text"] {
  display: block;
  width: calc(100% - 2.5rem);
  line-height: 1.5rem;
  font-weight: bold;
}
main form.new-comment-form textarea {
  display: block;
  width: calc(100% - 2.5rem);
  resize: vertical;
  line-height: 2rem;
}

main form.new-comment-form .position {
  margin-top: 0.5rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main form.new-comment-form input[type="radio"].new-comment-form-position {
  display: none;
}

.new-comment-form-position-label {
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  border: 2px solid #000C;
  border-radius: 1rem;
  cursor: pointer;
}

#position-form-agree:checked + label {
  background: #e3f2fd;
  border-color: #2196f3;
}
#position-form-disagree:checked + label {
  background: #ffebee;
  border-color: #f44336;
}
#position-form-neutral:checked + label {
  background: #eceff1;
  border-color: #607d8b;
}

main form.new-comment-form button.new-comment-form-submit-button {
  margin: 1rem 2rem 0 2rem;
  width: calc(100% - 4rem);
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  border: 2px solid #000C;
  border-radius: 1rem;
  cursor: pointer;
}

main .replies .comment {
  border-top: 1px solid #0001;
}
