main .comment::before {
  position: absolute;
  height: 1.5rem;
  width: 1rem;
  padding: 0.25rem 0;
  left: 0.5rem;
}

main .comment.agree::before {
  content: "👍";
}
main .comment.disagree::before {
  content: "👎";
}
main .comment.neutral::before {
  content: "✋";
}
