<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} | Yasaron</title>
</head>

<body>
    {% for comment in comments %}
    <p><a href="/comment/{{comment.comment_id}}">{{comment.parent_comment_id}} {{comment.comment_id}} {{comment.title}} {{comment.body}} {{comment.position}} {{comment.datetime}} {{comment.keywords}} {{comment.similar_to}} {{comment.has_similar_comment}}</a></p>
    {% endfor %}
</body>

</html>