<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://kakudo415.github.io/null.css/2.4.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/comment.css">
  <link rel="shortcut icon" href="/static/image/favicon.svg" type="image/svg+xml">
  <script src="/static/js/comment.js" defer></script>
</head>
<body>
  <header>
    <a href="/">
      <h1><img src="/static/image/icon.svg" alt="Yasaron"></h1>
    </a>
  </header>
  <main>
    <div class="comment-tree">
      <div class="comment {% if position == 1%} agree {% elif position == -1 %} disagree {% else %} neutral {% endif %}">
        <h2 class="title">{{ title }}</h2>
        <p class="body">{{ body }}</p>
        <p class="created-at">{{ datetime }}</p>
        <div class="position-buttons">
          <button type="button" class="agree" onclick="openReplyForm('agree');">賛成</button>
          <button type="button" class="disagree" onclick="openReplyForm('disagree');">反対</button>
          <button type="button" class="neutral" onclick="openReplyForm('neutral');">意見したい</button>
        </div>
      </div>
    </div>
    <div class="comment reply" style="display: none;">
      <form class="new-comment-form">
        <input class="title" type="text" name="title" placeholder="タイトル">
        <textarea class="body" name="body" placeholder="あなたの考えを共有してみてください！"></textarea>
        <div class="position">
          <div>
            <input type="radio" name="position" id="position-form-agree" class="new-comment-form-position" value="agree">
            <label for="position-form-agree" class="new-comment-form-position-label">賛成</label>
          </div>
          <div>
            <input type="radio" name="position" id="position-form-disagree" class="new-comment-form-position" value="disagree">
            <label for="position-form-disagree" class="new-comment-form-position-label">反対</label>
          </div>
          <div>
            <input type="radio" name="position" id="position-form-neutral" class="new-comment-form-position" value="neutral">
            <label for="position-form-neutral" class="new-comment-form-position-label">中立</label>
          </div>
        </div>
        <button type="button" class="new-comment-form-submit-button" disabled>送信</button>
      </form>
    </div>
    <div class="replies disagree"></div>
    <div class="replies agree"></div>
    <div class="replies neutral"></div>
  </main>
  <footer>
    <div>
      <a href="https://www.ed.tus.ac.jp/ricora/ProgrammingTeam/">Made by RICORA Programming Team</a>
      <a href="http://www.goo.ne.jp/">
        <img src="//u.xgoo.jp/img/sgoo.png" alt="supported by goo" title="supported by goo">
      </a>
    </div>
  </footer>
</body>
</html>