<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://kakudo415.github.io/null.css/2.4.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="/static/js/index.js" defer></script>
</head>

<body>
  <header>

  </header>
  <main>
    <div class="comment post neutral">
      <form class="new-comment-form">
        <input class="title" type="text" name="title" placeholder="タイトル">
        <textarea class="body" name="body" placeholder="あなたの考えを共有してみてください！"></textarea>
        <div class="position">
          <div>
            <input type="radio" name="position" id="position-form-agree" class="new-comment-form-position" value="agree">
            <label for="position-form-agree" class="new-comment-form-position-label">賛成</label>
          </div>
          <div>
            <input type="radio" name="position" id="position-form-disagree" class="new-comment-form-position" value="disagree">
            <label for="position-form-disagree" class="new-comment-form-position-label">反対</label>
          </div>
          <div>
            <input type="radio" name="position" id="position-form-neutral" class="new-comment-form-position" value="neutral" checked>
            <label for="position-form-neutral" class="new-comment-form-position-label">中立</label>
          </div>
        </div>
        <button type="button" class="new-comment-form-submit-button" disabled>送信</button>
      </form>
    </div>
    <div class="new-topics">
      {% for comment in comments %}
      <a href="/comment/{{ comment.comment_id }}" class="comment {% if position == 1%} agree {% elif position == -1 %} disagree {% else %} neutral {% endif %}">
        <h2 class="title">{{ comment.title }}</h2>
        <p class="body">{{ comment.body }}</p>
      </a>
      {% endfor %}
      <div class="page-transition">
        {% if now_page > 1 %}
        {% if now_page == 2 %}
        <a href="./" class="page-transition-button">新しい話題</a>
        {% else %}
        <a href="./?p={{ now_page - 1 }}" class="page-transition-button">新しい話題</a>
        {% endif %}
        {% else %}
        <div class="page-transition-button">新しい話題</div>
        {% endif %}
        {% if not is_last_page %}
        <a href="./?p={{ now_page + 1 }}" class="page-transition-button">以前の話題</a>
        {% else %}
        <div class="page-transition-button">以前の話題</div>
        {% endif %}
      </div>
    </div>
  </main>
</body>
</html>