<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://kakudo415.github.io/null.css/2.4.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/index.css">
  <script src="/static/js/index.js" defer></script>
</head>

<body>
  <header>

  </header>
  <main>
    <div class="comment post neutral">
      <form class="new-comment-form">
        <input class="title" type="text" name="title" placeholder="タイトル">
        <textarea class="body" name="body" placeholder="あなたの考えを共有してみてください！"></textarea>
        <div class="position">
          <div>
            <input type="radio" name="position" id="position-form-agree" class="new-comment-form-position"
              value="agree">
            <label for="position-form-agree" class="new-comment-form-position-label">賛成</label>
          </div>
          <div>
            <input type="radio" name="position" id="position-form-disagree" class="new-comment-form-position"
              value="disagree">
            <label for="position-form-disagree" class="new-comment-form-position-label">反対</label>
          </div>
          <div>
            <input type="radio" name="position" id="position-form-neutral" class="new-comment-form-position"
              value="neutral" checked>
            <label for="position-form-neutral" class="new-comment-form-position-label">中立</label>
          </div>
        </div>
        <button type="button" class="new-comment-form-submit-button" disabled>送信</button>
      </form>
    </div>
    <div class="new-topics">
      {% for comment in comments %}
      <p><a href="/comment/{{comment.comment_id}}">{{comment.comment_id}} {{comment.title}}</a>
      </p>
      {% endfor %}
      <p>
        {% if now_page > 1 %}
        <a href="./?p={{now_page-1}}">前のページ</a>
        {% endif %}
        {% if not is_last_page %}
        <a href="./?p={{now_page+1}}">次のページ</a>
        {% endif %}
      </p>
    </div>
  </main>
</body>
</html>