main .section-message {
  padding: 0 1rem;
  color: #000A;
  font-weight: bold;
}

main .comment .thread {
  position: absolute;
  top: 2.5rem;
  left: 1rem;
  height: calc(100% - 2rem);
  width: 2px;
  background: #0008;
}

main .comment-tree a.comment:hover, main .replies a.comment:hover {
  background: #0001;
}

main .comment-tree div.comment {
  padding-bottom: 1rem;
}

main .comment-tree div.comment .body {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

main .comment-tree div.comment .created-at {
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
  color: #000A;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

main .comment::before {
  position: absolute;
  height: 1.5rem;
  width: 1rem;
  padding: 0.25rem 0;
  left: 0.5rem;
}

main .comment.agree::before {
  content: "👍";
}
main .comment.disagree::before {
  content: "👎";
}
main .comment.neutral::before {
  content: "✋";
}

main .position-buttons {
  margin-top: 1rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .position-buttons button {
  padding: 0.5rem 1rem;
  border: 2px solid #000C;
  border-radius: 1rem;
  cursor: pointer;
}

main .position-buttons button.agree:hover {
  background: #e3f2fd;
  border-color: #2196f3;
}
main .position-buttons button.disagree:hover {
  background: #ffebee;
  border-color: #f44336;
}
main .position-buttons button.neutral:hover {
  background: #eceff1;
  border-color: #607d8b;
}

main .replies .comment {
  border-top: 1px solid #0001;
}

main .replies .comment.has-similar-comment {
  display: block;
  width: 100%;
  padding-bottom: 2.25rem;
  text-align: initial;
  cursor: pointer;
}

main .replies .comment.has-similar-comment.expanded .title, main .replies .comment.has-similar-comment.expanded .body, main .replies .comment.has-similar-comment.expanded::before {
  display: none;
}

main .replies .comment.has-similar-comment::after {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 0.75rem;
  color: #0008;
  text-align: center;
}
main .replies .comment.has-similar-comment.contracted::after {
  content: "🔽近い意見のコメントも見る";
}
main .replies .comment.has-similar-comment.expanded::after {
  content: "🔼近い意見のコメントを閉じる";
}

main .replies .similar-comment-area .comment {
  border-top: none;
}
