body {
  padding: 3.25rem 0 0;
  color: #000C;
}

header {
  display: flex;
  padding: 0.5rem 0;
  align-items: center;
  justify-content: space-around;
  background: #FFF;
  border-bottom: 1px solid #0004;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

header a {
  padding: 0.5rem 1rem;
  display: block;
}

header img {
  height: 1.25rem;
  width: auto;
}

main .comment {
  display: block;
  position: relative;
  padding: 0.75rem 0;
}

main .comment::before {
  position: absolute;
  height: 1.5rem;
  width: 1rem;
  padding: 0.25rem 0;
  left: 0.5rem;
}

.keywords {
  margin-top: 0.5rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
}

.keywords a {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 1px solid #000C;
  border-radius: 0.75rem;
}

main .comment.agree::before {
  content: "👍";
}
main .comment.disagree::before {
  content: "👎";
}
main .comment.neutral::before {
  content: "✋";
}

main .comment .title {
  margin-left: 2rem;
  margin-right: 0.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

main .comment .body {
  margin-top: 0.75rem;
  margin-left: 2rem;
  margin-right: 0.5rem;
  line-height: 2rem;
  overflow-wrap: break-word;
}

main form.new-comment-form input[type="text"] {
  display: block;
  height: 2rem;
  width: calc(100% - 2.5rem);
  padding: 0.5rem 0.75rem;
  line-height: 1rem;
  font-weight: bold;
  background: #0001;
  border-radius: 1rem;
}

main form.new-comment-form textarea {
  margin-top: 0.75rem;
  display: block;
  width: calc(100% - 2.5rem);
  padding: 0.5rem 0.75rem;
  resize: vertical;
  line-height: 1.5rem;
  background: #0001;
  border-radius: 1rem;
}
main form.new-comment-form .position {
  margin-top: 0.75rem;
  padding: 0 0.5rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main form.new-comment-form input[type="radio"].new-comment-form-position {
  display: none;
}

.new-comment-form-position-label {
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  border: 2px solid #000C;
  border-radius: 1rem;
  cursor: pointer;
}

#position-form-agree:checked + label {
  background: #e3f2fd;
  border-color: #2196f3;
}
#position-form-disagree:checked + label {
  background: #ffebee;
  border-color: #f44336;
}
#position-form-neutral:checked + label {
  background: #eceff1;
  border-color: #607d8b;
}

main form.new-comment-form button.new-comment-form-submit-button {
  margin: 0.75rem 0.5rem 0 2rem;
  width: calc(100% - 2.5rem);
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  border: 2px solid #000C;
  border-radius: 1rem;
  cursor: pointer;
}

main form.new-comment-form button.new-comment-form-submit-button:disabled {
  color: #0004;
  border: 2px solid #0004;
  cursor: default;
}

footer {
  padding: 1rem 0.5rem;
  border-top: 1px solid #0004;
}

footer > div {
  margin: 0 auto;
  text-align: center;
  color: #0008;
}

footer > div > a {
  line-height: 1.5rem;
}

footer > div img {
  margin: 0 auto;
  height: auto;
  min-width: 100px;
  max-width: 240px;
  width: 100%;
}
