<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="static/js/index.js" defer></script>
</head>
<body>
  <form id="form">
    <input type="text" name="title" id="title">
    <input type="text" name="text" id="text">
    <input type="radio" name="sanpi" id="sansei" value="1">
    <label for="sansei">賛成</label>
    <input type="radio" name="sanpi" id="churitsu" value="0">
    <label for="churitsu">中立</label>
    <input type="radio" name="sanpi" id="hantai" value="-1">
    <label for="hantai">反対</label>
    <button type="button" id="button">送信</button>
  </form>
</body>
</html>